.promo {
  background: linear-gradient(180deg, #02050e 8.28%, rgba(2, 5, 14, 0.65) 100%)
    url("@img/promo-bg.png") no-repeat center / cover;
  // .promo__slider
  &__slider {
  }
  // .promo__content
  &__content {
    bottom: 8.5%;
    left: 10.5%;
  }
  .promo__button {
    padding-left: 20px;
    max-width: 310px;
    margin-bottom: 200px;
  }
  // .promo__arrow
  &__arrow {
    display: inline-block;
    width: 67px;
    height: 72px;
    border-radius: 5px;

    background: #e2484d url("@img/icons/arrow.svg") no-repeat center;
  }
  // .promo__box
  &__box {
  }
  // .promo__box-logo
  &__box-logo {
    width: 112px;
    height: 68px;
  }
  // .promo__subtitle
  &__subtitle {
    background-color: #3f6d9b;
    max-width: 322px;
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
  }
}
