.promo {
  background: linear-gradient(180deg, #02050e 8.28%, rgba(2, 5, 14, 0.65) 100%);
  // .promo__slider
  &__slider {
  }
  // .promo__content
  &__content {
    position: absolute;
    top: 16em;
    left: 1%;
    @media only screen and (min-width: 575px) {
      top: 13em;
    }
    @media only screen and (min-width: 992px) {
      top: 30em;
    }
  }
  .promo__button {
    padding-left: 20px;
    max-width: 310px;
    margin-bottom: 245px;
    @media only screen and (min-width: 575px) {
      margin-bottom: 450px;
    }
    @media only screen and (min-width: 992px) {
      margin-bottom: 200px;
    }
    &:hover {
      color: #fff;
    }
  }
  // .promo__arrow
  &__arrow {
    display: inline-block;
    width: 67px;
    height: 72px;
    border-radius: 5px;

    background: #e2484d url("@img/icons/arrow.svg") no-repeat center;
  }
  // .promo__box
  &__box {
    z-index: 1;
  }

  // .promo__box-logo
  &__box-logo {
    width: 112px;
    height: 68px;
  }
  // .promo__subtitle
  &__subtitle {
    background-color: #3f6d9b;
    max-width: 322px;
    clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
  }
  .slider {
    &__box {
      background: url("@img/promo-bg.png") no-repeat center / cover;
    }
  }
}
