.results {
  padding-top: 100px;
  // .results__title
  &__title {
    color: #02050e;
    margin-bottom: 70px;
  }
  // .results__slider
  &__slider {
  }
}
.position-relative {
}
.container {
}
.fs-36 {
}
.fw-700 {
}
.text-uppercase {
}
.slider {
  // .slider__controls
  &__controls {
  }
  // .slick-prev
  .slick-prev {
    left: -10%;
  }
  // .slick-arrow
  .slick-arrow {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: #e2484d url("@img/icons/arrow-white.svg") no-repeat center;
  }
  // .slick-next
  .slick-next {
    right: -10%;
    transform: translateY(-50%) rotate(180deg);
  }
  // .slider__box
  &__box {
    border-radius: 5px;
    background: #fff;
    box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
  }
  // .slider__box-img
  &__box-img {
  }
  // .slider__img
  &__img {
  }
  // .slider__region
  &__region {
    color: #000;
    background: url("@img/icons/map.svg") no-repeat left center;
  }
  // .slider__city
  &__city {
    color: #fff;

    line-height: 120%;
    border-radius: 5px;
    background-color: #2f3a5a;
    width: max-content;
  }
  // .slider__num
  &__num {
    color: #3f6d9b;
  }
  // .slider__text
  &__text {
    color: #000;
  }
}
.d-flex {
}
.gap-4 {
}
.row {
}
.col-6 {
}
.fs-16 {
}
.lh-normal {
}
.ps-4 {
}
.py-1 {
}
.px-2 {
}
.fs-30 {
}
.fw-900 {
}
