@charset "UTF-8";
.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.wrapper > main {
  flex: 1 1 auto;
}

.container {
  max-width: 1160px;
}

.fs-42 {
  --font-size-42: clamp(2rem, 1.49vw + 1.7rem, 2.63rem);
  font-size: var(--font-size-42);
}

.fs-36 {
  --font-size-36: clamp(1.75rem, 1.19vw + 1.51rem, 2.25rem);
  font-size: var(--font-size-36);
}

.fs-30 {
  font-size: 30px;
}

.fs-28 {
  font-size: 28px;
}

.fs-24 {
  font-size: 24px;
}

.fs-22 {
  font-size: 22px;
}

.fs-20 {
  font-size: 20px;
}

.fs-18 {
  font-size: 18px;
}

.fs-16 {
  font-size: 16px;
}

.fw-900 {
  font-weight: 900;
}

.fw-700 {
  font-weight: 700;
}

.fw-500 {
  font-weight: 500;
}

.lh-normal {
  line-height: normal;
}

.lh-125 {
  line-height: 125%;
}

.lh-120 {
  line-height: 120%;
}

.lh-114 {
  line-height: 114%;
}

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-black: #000;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-gray-100: #f8f9fa;
  --bs-gray-200: #e9ecef;
  --bs-gray-300: #dee2e6;
  --bs-gray-400: #ced4da;
  --bs-gray-500: #adb5bd;
  --bs-gray-600: #6c757d;
  --bs-gray-700: #495057;
  --bs-gray-800: #343a40;
  --bs-gray-900: #212529;
  --bs-primary: #e2484d;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-primary-rgb: 226, 72, 77;
  --bs-secondary-rgb: 108, 117, 125;
  --bs-success-rgb: 25, 135, 84;
  --bs-info-rgb: 13, 202, 240;
  --bs-warning-rgb: 255, 193, 7;
  --bs-danger-rgb: 220, 53, 69;
  --bs-light-rgb: 248, 249, 250;
  --bs-dark-rgb: 2, 5, 14;
  --bs-white-rgb: 255, 255, 255;
  --bs-black-rgb: 0, 0, 0;
  --bs-body-color-rgb: 255, 255, 255;
  --bs-body-bg-rgb: 255, 255, 255;
  --bs-font-sans-serif: Roboto;
  --bs-font-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --bs-gradient: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.15),
    rgba(255, 255, 255, 0)
  );
  --bs-body-font-family: var(--bs-font-sans-serif);
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
  --bs-body-line-height: normal;
  --bs-body-color: #fff;
  --bs-body-bg: #fff;
  --bs-border-width: 1px;
  --bs-border-style: solid;
  --bs-border-color: #dee2e6;
  --bs-border-color-translucent: rgba(0, 0, 0, 0.175);
  --bs-border-radius: 0.375rem;
  --bs-border-radius-sm: 0.25rem;
  --bs-border-radius-lg: 0.5rem;
  --bs-border-radius-xl: 1rem;
  --bs-border-radius-2xl: 2rem;
  --bs-border-radius-pill: 50rem;
  --bs-link-color: #0d6efd;
  --bs-link-hover-color: #e2484d;
  --bs-code-color: #d63384;
  --bs-highlight-bg: #fff3cd;
}

.table {
  --bs-table-color: #000;
  --bs-table-bg: transparent;
  --bs-table-border-color: var(--bs-border-color);
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: var(--bs-body-color);
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: var(--bs-body-color);
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: var(--bs-body-color);
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: var(--bs-table-color);
  vertical-align: top;
  border-color: var(--bs-table-border-color);
}

/* -----------------------------------------------------------------
                       @media
1-ый параметр $min-max принимает 3 аргумента min, max, min-max.
   min       - для mobil @media
   max       - для dectop @media
   min-max   - для промежутка между mobil-dectop @media
2-ой параметр $breakpoint_1 принимает 1-ин аргумент.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...)
3-ий параметр $breakpoint_2 принимает 1-ин аргумент, является не обязательным параметром.
   ключ      - хранятся в созданной карте $grid_breakpoints(xxl, xl, lg, md , sm...) нужен для 1-ого параметра 3 аргумента.
 Дополнение:
   map-has-key  - Нужен для проверки ключа в карте, если ключа указанного нет то условие не выполняется.
   map-get      - Нужен для использование ключей из карты.
Пример:
   @include media(max, xxl) { display: none;}
   @include media(min, xxl) { display: none;}
   @include media(min-max, mn-lg, mx-xxl) { display: none;}
Одиночные брекпоинты:
   @include media(max, 870px,) { display: none;}
   @include media(min, 870px,) { display: none;}
   @include media(min-max, 870px, 1000px) { display: none;}
--------------------------------------------------------------------*/
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
  line-height: inherit;
}

.footer__content {
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  padding-top: 40px;
}
.footer__link {
  position: relative;
  width: -moz-max-content;
  width: max-content;
}
.footer__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  bottom: -2px;
  background-color: #e2484d;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.footer__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}

.header {
  padding-block: 20px;
}
.header.fixed {
  position: fixed;
  z-index: 9999;
}
.header .container {
  max-width: 1250px;
}
.header__wrapper {
  gap: 10px;
  display: none;
  left: -100%;
  position: absolute;
  transition: all 0.5s ease-in-out;
}
.header__box {
  gap: 12px;
  height: 100%;
  justify-content: center;
}
.header__box::before {
  content: "";
  display: none;
  width: 106%;
  height: 186%;
  background-color: #e2484d;
  -webkit-clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  clip-path: polygon(15% 0%, 100% 0%, 85% 100%, 0% 100%);
  position: absolute;
  left: -16px;
  right: 0;
  top: -24px;
  bottom: 0;
}
.header__menu ul li a,
.header__link {
  position: relative;
}
.header__menu ul li a::before,
.header__link::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 4px;
  bottom: -2px;
  background-color: #e2484d;
  left: 0;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform 0.3s ease-in-out;
}
.header__menu ul li a:hover::before,
.header__link:hover::before {
  transform-origin: left;
  transform: scaleX(1);
}
.header__link {
  position: relative;
  z-index: 1;
}
.header__link:hover {
  color: #e2484d;
}
.header__link:hover::before {
  background-color: #e2484d;
}

.burger {
  height: 30px;
  border: none;
  cursor: pointer;
  position: relative;
  z-index: 15;
}
.burger__inner span,
.burger__inner::before,
.burger__inner::after {
  content: "";
  transition: all 0.3s ease 0s;
  right: 0px;
  position: absolute;
  height: 3px;
  background-color: #fff;
}
.burger__inner span {
  width: 21px;
}
.burger__inner::before {
  width: 30px;
  top: 0px;
}
.burger__inner::after {
  width: 13px;
  bottom: 0px;
}
.burger__inner span {
  top: calc(50% - 1px);
}
.open .burger__inner span {
  transform: scale(0);
}
.open .burger__inner::before {
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.open .burger__inner::after {
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
  width: 30px;
}

.button {
  z-index: 2;
}
.button::before {
  content: "";
  display: block;
  background-color: #e2484d;
  border-radius: 5px;
  width: 67px;
  height: 72px;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  transition: all 0.5s ease-in-out;
}
.button::after {
  content: "";
  display: block;
  background: url("../images/icons/arrow.svg") no-repeat center;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 67px;
  height: 72px;
}
.button:hover::before {
  width: 100%;
  z-index: -1;
}
.btn-close {
  background: url("../images/icons/close.svg") center/31px no-repeat;
}
.form__input {
  width: 100%;
}
.form__input::-moz-placeholder {
  color: #cecece;
  letter-spacing: 4.2px;
  font-size: 20px;
}
.form__input::placeholder {
  color: #cecece;
  letter-spacing: 4.2px;
  font-size: 20px;
}
.form .form-control {
  font-size: 20px;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 4.2px;
}
.form__btn {
  background-color: #e2484d;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-radius: 5px;
  padding: 15px 25px;
  text-wrap: nowrap;
}
.form__btn:hover,
.form__btn:active {
  background-color: #e2484d;
  filter: brightness(120%);
  -ms-filter: brightness(120%);
  -webkit-filter: brightness(120%);
  -moz-filter: brightness(120%);
  -o-filter: brightness(120%);
}
.open .header__wrapper {
  display: flex;
  position: absolute;
  background-color: #02050e;
  left: 0;
  top: 0;
  height: 100dvh;
  width: 100dvw;
  justify-content: flex-end;
  align-items: center;
  z-index: 5;
  padding-top: 45px;
}
.open .header__bottom,
.open .header__top {
  width: 100%;
}
.open .header__social {
  justify-content: center;
}
.open .header__menu ul {
  align-items: center;
}

.slider__counter {
  color: rgba(63, 109, 155, 0.15);
  --font-size-counter: clamp(12.5rem, 13.1vw + 9.88rem, 18rem);
  font-size: var(--font-size-counter);
  position: absolute;
  top: -100%;
  left: -3%;
}
.slider__title {
  margin-top: 70px;
}
.slider__box-img {
  padding-top: 100px;
}
.slider__box-img img {
  width: 123%;
  height: auto;
  -o-object-fit: contain;
  object-fit: contain;
}
.slider__controls-btns {
  position: absolute;
  left: 1em;
  top: 0em;
}

.slider__controls-dots {
  position: absolute;
  right: 2em;
  top: 42em;
  z-index: 50;
}

.slick-next {
  transform: rotate(180deg);
}

.slick-dots {
  margin-bottom: 0;
  padding-left: 0;
  display: flex;
  gap: 20px;
}
.slick-dots li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  border: 1px solid #3f6d9b;
  border-radius: 50%;
}
.slick-dots li.slick-active {
  border-color: #e2484d;
}
.slick-dots li.slick-active button,
.slick-dots li:hover button {
  background-color: #e2484d;
}
.slick-dots li button {
  background-color: #3f6d9b;
  text-indent: -9999px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  transition: all 0.5s ease-in-out;
}

.social__link {
  display: block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}
.social__link--fb {
  background: url("../images/icons/facebook.svg") no-repeat center/cover;
}
.social__link--vk {
  background: url("../images/icons/vk.svg") no-repeat center/cover;
}
.social__link--ok {
  background: url("../images/icons/odnoklassniki.svg") no-repeat center/cover;
}
.advantages {
  position: relative;
  background: linear-gradient(rgba(63, 109, 155, 0.5), rgba(226, 72, 77, 0));
}
.advantages__title {
  color: #02050e;
}
.advantages__text {
  color: #000;
}
.advantages .advantages__lists {
  gap: 30px;
}
.advantages__list {
  gap: 45px;
  display: flex;
}
.advantages__list:last-child {
  z-index: 1;
  display: none;
}
.advantages__item {
  border-radius: 5px;
  background: #fff;
  padding: 40px;
  max-width: 360px;
  width: 100%;
  height: -moz-max-content;
  height: max-content;
  min-height: 260px;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
}
.advantages__item-text {
  color: #000;
}
.advantages__counter {
  color: #3f6d9b;
  font-size: 48px;
  font-weight: 900;
}

.banner {
  background: linear-gradient(286deg, #3f6d9b 29.23%, #a8d0db 77.36%);
  padding-top: 84px;
}
.banner__title {
  margin-bottom: 30px;
}
.banner__box-img img {
  width: 120%;
}
.map {
  margin-top: -20px;
}

.prices {
  padding-top: 85px;
  background-color: #fff;
}
.prices__title {
  color: #02050e;
  margin-bottom: 80px;
}
.prices table {
  overflow-x: scroll;
}
.prices table td {
  border-bottom-style: dashed;
}
.prices table thead tr th {
  padding-block: 16px;
  text-align: center;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.prices table thead tr th b {
  font-weight: 700;
}
.prices table .cost {
  border-spacing: 5px;
}
.prices table tr:first-child td {
  border: none;
}
.prices table tr td:not(.name) {
  text-align: center;
}
.prices table tr td.name {
  background-color: rgba(63, 109, 155, 0.1);
  font-family: Nunito;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
}
.prices table tr:not(:first-child) td {
  vertical-align: bottom;
}
.prices table tr.cost td:not(:first-child) .table__item,
.prices table tr.order td:not(:first-child) .table__item {
  color: #fff;
  font-family: Nunito;
  font-weight: 700;
  font-size: 18px;
  line-height: 18px;
  border-radius: 5px;
  padding: 15px 25px;
  text-wrap: nowrap;
}

.prices table tr.order td:not(:first-child) .table__item:hover {
  color: #fff;
  filter: brightness(120%);
  -ms-filter: brightness(120%);
  -webkit-filter: brightness(120%);
  -moz-filter: brightness(120%);
  -o-filter: brightness(120%);
}
.prices table tr.cost td:not(:first-child),
.prices table tr.order td:not(:first-child) {
  padding-inline: 3px;
}
.prices table tr.cost td:nth-child(2) .table__item,
.prices table tr.order td:nth-child(2) .table__item {
  background-color: #78cde0;
}
.prices table tr.cost td:nth-child(3) .table__item,
.prices table tr.order td:nth-child(3) .table__item {
  background-color: #638fb1;
}
.prices table tr.cost td:nth-child(4) .table__item,
.prices table tr.order td:nth-child(4) .table__item {
  background-color: #406e9c;
}
.prices table tr.cost td:nth-child(5) .table__item,
.prices table tr.order td:nth-child(5) .table__item {
  background-color: #2f3a5a;
}
.prices table tr.cost td:nth-child(6) .table__item,
.prices table tr.order td:nth-child(6) .table__item {
  background-color: #e2484d;
}
.prices table tr:nth-child(3) td:first-child {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  padding-top: 20px;
}
.prices table tr.budget td:not(:first-child),
.prices table tr.letters td:not(:first-child),
.prices table tr.publicity td:not(:first-child) {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 500;
  line-height: 18px;
  vertical-align: middle;
}
.prices table tr.publicity td,
.prices table tr.order td {
  border: none;
}
.prices table tr.publicity td:first-child {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding-bottom: 30px;
}
.prices table tr.empty td {
  padding-block: 20px;
  border: none;
}

.promo {
  background: linear-gradient(180deg, #02050e 8.28%, rgba(2, 5, 14, 0.65) 100%);
}
.promo__content {
  position: absolute;
  top: 14em;
  left: 1%;
}
.promo .promo__button {
  max-width: 310px;
  /* margin-bottom: 245px; */
  margin-bottom: 435px;
}
.promo .promo__button:hover {
  color: #fff;
}
.promo__arrow {
  display: inline-block;
  width: 67px;
  height: 72px;
  border-radius: 5px;
  background: #e2484d url("../images/icons/arrow.svg") no-repeat center;
}
.promo__box {
  z-index: 2;
}
.promo__box-logo {
  width: 112px;
  height: 68px;
}
.promo__subtitle {
  background-color: #3f6d9b;
  max-width: 322px;
  -webkit-clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
  clip-path: polygon(0% 0%, 100% 0%, 88% 100%, 0% 100%);
}
.promo .slider__box {
  background: url("../images/promo-bg.png") no-repeat center/cover;
}

.results {
  padding-top: 100px;
}
.results__title {
  color: #02050e;
  margin-bottom: 50px;
}
.results .slider__item {
  margin-right: 32px;
}
.slick-arrow {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background: url("../images/icons/arrow-slider.svg") no-repeat center;
  border: 0.5px solid #e2484d;
  text-indent: -9999px;
  z-index: 10;
  transition: all 0.5s ease-in-out;
}
.slick-arrow:hover {
  background: #e2484d url("../images/icons/arrow-white.svg") no-repeat center;
}
.results .slider .slick-prev {
  left: -6%;
}
.results .slider .slick-arrow {
  position: absolute;
  top: 56%;
  transform: translateY(-50%);
  background: #e2484d url("../images/icons/arrow-white.svg") no-repeat center;
}
.results .slider .slick-arrow:hover {
  background: #fff url("../images/icons/arrow-slider.svg") no-repeat center;
}
.results .slider .slick-next {
  right: -6%;
  transform: translateY(-50%) rotate(180deg);
}
.results .slider__box {
  border-radius: 5px;
  background: #fff;
  box-shadow: 0px 4px 25px 0px rgba(0, 0, 0, 0.2);
}
.results .slider__box-img {
  min-height: 70px;
  padding-top: 0;
}

.results .slider__box-img img {
  width: inherit;
}
.results .slider__flex {
  row-gap: 15px;
}
.results .slider__region {
  color: #000;
  background: url("../images/icons/map.svg") no-repeat left center;
}
.results .slider__city {
  color: #fff;
  line-height: 120%;
  border-radius: 5px;
  background-color: #2f3a5a;
  width: -moz-max-content;
  width: max-content;
}
.results .slider__num {
  color: #3f6d9b;
}
.results .slider__text {
  color: #000;
}

.services__pseudo::before {
  content: "";
  display: block;
  background: linear-gradient(
    rgba(63, 109, 155, 0.3),
    rgba(226, 72, 77, 0.1),
    rgba(2, 5, 14, 0)
  );
  position: absolute;
  top: -13%;
  left: 0%;
  right: -144%;
  bottom: -15%;
  -webkit-clip-path: polygon(42% 0%, 100% 0%, 59% 100%, 0% 100%);
  clip-path: polygon(41% 0%, 100% 0%, 56% 100%, 6% 100%);
}

.services__text {
  bottom: 0;
  background: linear-gradient(3deg, #02050e 2.42%, rgba(2, 5, 14, 0) 88.41%);
}
.services__title {
  margin-top: 75px;
}
.services__item::before {
  content: "";
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 0;
  top: 0;
  background: url("../images/icons/marker.svg") no-repeat center;
}
.services .form__button {
  width: 323px;
  height: 72px;
}

.trust {
  padding-top: 110px;
}
.trust__box-img {
  min-height: 100px;
}
.trust__box-img img,
.trust__box-img picture {
  filter: grayscale(100%);
}
.slick-slider {
  z-index: 1;
}
#map {
  width: 100%;
  height: 60dvh;
}
.ymaps-2-1-79-ground-pane {
  filter: grayscale(75%) brightness(60%);
  -ms-filter: grayscale(75%) brightness(60%);
  -webkit-filter: grayscale(75%) brightness(60%);
  -moz-filter: grayscale(75%) brightness(60%);
  -o-filter: grayscale(75%) brightness(60%);
}
@supports (-webkit-appearance: none) {
  .button::after {
    background: url("../images/icons/arrow.svg") no-repeat center;
  }
  .slick-arrow {
    background: url("../images/icons/arrow-slider.svg") no-repeat center;
  }
  .social__link--fb {
    background: url("../images/icons/facebook.svg") no-repeat center/cover;
  }
  .social__link--vk {
    background: url("../images/icons/vk.svg") no-repeat center/cover;
  }
  .social__link--ok {
    background: url("../images/icons/odnoklassniki.svg") no-repeat center/cover;
  }
  .promo__arrow {
    background: #e2484d url("../images/icons/arrow.svg") no-repeat center;
  }
  .promo .slider__box {
    background: url("../images/promo-bg.webp") no-repeat center/cover;
  }
  .results .slider .slick-arrow {
    background: #e2484d url("../images/icons/arrow-white.svg") no-repeat center;
  }
  .results .slider__region {
    background: url("../images/icons/map.svg") no-repeat left center;
  }
  .services__item::before {
    background: url("../images/icons/marker.svg") no-repeat center;
  }
}

@media only screen and (min-width: 575px) {
  .header__box {
    height: inherit;
    justify-content: inherit;
  }

  .slider__controls-dots {
    top: 40em;

    right: 4em;
  }
  .slick-dots {
    flex-direction: column;
  }
  .promo__content {
    top: 13em;
  }
  .promo .promo__button {
    margin-bottom: 450px;
  }
  .promo .promo__button {
    padding-left: 20px;
  }
  .results .slider__flex {
    row-gap: 30px;
  }
  .banner__box-img img {
    width: 100%;
  }
  .services__pseudo::before {
    top: -8%;
    left: 46.5%;
    right: -144%;
    bottom: -15%;
    -webkit-clip-path: polygon(41% 0%, 100% 0%, 56% 100%, -3% 100%);
    clip-path: polygon(41% 0%, 100% 0%, 56% 100%, -3% 100%);
  }

  @supports (-webkit-appearance: none) {
  }
}
@media only screen and (min-width: 768px) {
  .slider__counter {
    top: -100%;
  }
  .services__list {
    max-height: 490px;
  }
  .services ul li {
    max-width: 292px;
  }
  .advantages__list:first-child li:nth-child(even) {
    display: none;
  }
  .advantages__list:last-child {
    display: flex;
  }
  .slider__box-img {
    padding-top: inherit;
  }
  @supports (-webkit-appearance: none) {
  }
}
@media only screen and (min-width: 991px) {
  .header__wrapper {
    display: flex;
    left: inherit;
    position: relative;
  }
  .header__box::before {
    display: block;
  }
  .header__link:hover {
    color: #02050e;
  }
  .header__link:hover::before {
    background-color: #02050e;
  }
  .slider__controls-btns {
    top: 10em;
  }
  .slider__controls-dots {
    top: 38em;
    right: 1em;
  }
  .promo__content {
    top: 30em;
  }
  .promo .promo__button {
    margin-bottom: 200px;
  }
  .slider__counter {
    top: -120%;
    left: -15%;
  }
  .slider__title {
    margin-top: 250px;
  }
  .slider__box-img {
    right: 10%;
  }
  .slider__box-img img {
    width: inherit;
  }
  .advantages__content {
    margin-top: -30px;
  }
  .advantages__list {
    display: flex;
  }

  .advantages__list:first-child {
    margin-top: -75px;
  }
  .advantages__list:last-child {
    bottom: -55px;
  }
  .banner {
    padding-bottom: 105px;
  }
  .banner .banner__box-img {
    position: absolute;
    top: -30%;
  }

  #map {
    height: 780px;
  }

  @supports (-webkit-appearance: none) {
  }
}
